.place__title{
  font-size: 74px;
  line-height: 1;
  font-weight: 900;
  margin:0;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 44px;
    line-height: 46px;
  }
}
@media screen and (max-width: 800px) {
  .place__title {
    font-size: 43px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    max-width: calc(100% - 32px);
    font-size: 33px;
    line-height: 35px;
    margin-left: 16px;
  }
}
