.header__lang-links{
  display: flex;
  align-items: flex-end;
  padding: 0;
  list-style: none;
  gap:18px;
  margin-bottom: 6px;
}
@media screen and (max-width: 767px) {
  .header__lang-links {
    margin-bottom: 8px;
  }
}
